.navbar{
  display: flex;
  padding: 20px;
  justify-content: end;
  font-size: larger;
  text-decoration: none;
  list-style: none;
  background-color: blueviolet;
  margin: 10px;
  border-radius: 5px;
}
li{
  margin: 20px;
}